<div class="content">
    <div class="upper">
        <img src="/assets/left.png">
        <img src="/assets/right.png">
        <img src="/assets/horizontal.png">
        <img src="/assets/vertical.png">
    </div>
    <div class="lower">
        <div class="input">
            <p>Náklon o úhel:</p>
            <div class="angle">
                <input type="text">
                <p>°</p>
            </div>
        </div>
        <div class="input">
            <p>Ruční náklon:</p>
            <input type="range" min="-45" max="45" value="0" class="slider">
        </div>
    </div>
</div>