<div class="content">
    <div class="upper">
        <img src="/assets/left.png" (click)="rotate(-90)">
        <img src="/assets/right.png" (click)="rotate(90)">
        <img src="/assets/horizontal.png" (click)="flip('horizontal')">
        <img src="/assets/vertical.png" (click)="flip('vertical')">
    </div>
    <div class="lower">
        <div class="input">
            <p>Náklon o úhel:</p>
            <div class="angle">
                <input type="number" [(ngModel)]="currentRotate" (ngModelChange)="onRotateChange($event)">
                <p>°</p>
            </div>
        </div>
        <div class="input">
            <p>Ruční náklon:</p>
            <input type="range" min="-180" max="180" value="0" class="slider" [(ngModel)]="currentRotate" (ngModelChange)="onRotateChange($event)">
        </div>
    </div>
</div>