@import "../../colors/";

.content{
	display: flex;
	flex-flow: column;
	height: 100%;
	justify-content: space-between;
	width: 100%;
}

.upper{
	padding: 32px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 24px 24px;
}

img{
	width: 100%;
	filter: invert(65%);
	
	&:hover{
		filter: invert(100%);
		cursor: pointer;
	}
}

img:first-of-type{
	grid-column: 1/2;
}

img:last-of-type{
	grid-column: 2/3;
}

.lower{
	margin: 24px;
}

p{
	color: $textOnDark;
	font-family: Arial;
	font-size: 18px;
}

.input{

	p{
		margin-bottom: 24px;
	}

	&:first-of-type{
		margin-bottom: 32px;
	}

	white-space: nowrap;
	overflow: hidden;
}

.angle{
	display: flex;

	p{
		font-weight: 600;
		margin-left: 12px;
		margin-top: 8px;
	}
}

input[type=text]{
	font-size: 24px;
	text-align: right;
	width: 100%;
	padding-right: 12px;
	padding: 12px;
	height: 24px;
}

input[type=range]{
	width: 100%;
	margin-bottom: 24px;
}
