<div class="content">
    <div class="upper">
        <div class="row">
            <div class="item">
                <img src="/assets/placeholder.png">
            </div>
            <div class="item">
                <img src="/assets/placeholder.png">
            </div>
        </div>
        <div class="row">
            <div class="item">
                <img src="/assets/placeholder.png">
            </div>
            <div class="item">
                <img src="/assets/placeholder.png">
            </div>
        </div>
    </div>
    <div class="lower">
        <div class="input">
            <p>Úhel:</p>
            <input type="text">
        </div>
        <div class="input">
            <p>Ruční náklon:</p>
            <input type="range" min="-45" max="45" value="0" class="slider">
        </div>
    </div>
</div>