@import "../../colors/";

.content{
	display: flex;
	height: 48px;
}

input[type=number], input[type=text]{
	padding-right: 12px;
	font-size: 24px;
	width: 64px;
	height: 30px;
	text-align: right;
	margin: auto;
}

input[type=text] {
  width: 256px !important;
}

p{
	margin: auto;
	padding: 8px 8px 8px 8px;
	font-family: arial;
	font-size: 20px;
	color: $textOnDark;
}

button{
	width: 180px;
	margin-left: 32px;
	font-size: 20px;
}
