@import "../../colors/";

p{
	width: 100%;
	margin: auto;
	padding: 12px 0 12px 0;
	font-size: 20px;
	font-family: arial;
	white-space: nowrap;
	color: $textOnDark;
}

.content{
	padding-left: 32px;
	padding-right: 32px;
	background: $recBcg;
	user-select: none;
	white-space: nowrap;

	&:hover{
		background: $templateItemHover;
		cursor: pointer;
	}

	p:hover{
		color: $buttonHover;
	}
}