@import "../../colors/";

.toolbar{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	height: 100%;
	min-height: 296px;
}

.lower{
	position: absolute;
	bottom: 0;
	margin: 12px;
	margin-bottom: 16px;
}

.upper{
	margin: 12px;
	margin-top: 16px;
}

i{
	font-size: 30px;
	height: 40px;
	width: 40px;
	margin-left: 4px;
	text-align: center;
	margin-bottom: 16px;

	&:last-of-type{
		margin: 0;
		margin-left: 4px;
	}
}