<div class="header">
  <div class="left">
    <i class="fas fa-file" (click)="newFile()"></i>
    <i class="fas fa-trash-alt" (click)="canvasService.resetHistory()"></i>
    <p *ngIf="canvasService.currentSize">Současná velikost: {{canvasService.currentSize.width}} x {{canvasService.currentSize.height}} px</p>
  </div>
  <div class="right">
    <i class="fas fa-arrow-left" (click)="canvasService.goBack()" [ngClass]="{'disabled': !canvasService.canBack()}"></i>
    <i class="fas fa-arrow-right" (click)="canvasService.goThere()" [ngClass]="{'disabled': !canvasService.canThere()}"></i>
  </div>
</div>
