@import "../../colors/";

.header{
	margin: auto;
	display: flex;
	justify-content: space-between;
	background: $bcg;
	padding: 24px 24px 0 24px;
}

i{
	font-size: 32px;
	width: 32px;
	height: 32px;
	margin-left: 16px;

	&:first-of-type{
		margin: 0;
  }
}

.left{
	display: flex;
	width: 100%;
	margin: 0;
	margin-left: 8px;
	overflow: hidden;
}

.right{
	display: flex;
	margin: 0;
	margin-right: 4px;
	padding-left: 16px;
}

p{
	width: auto;
	font-size: 18px;
	margin: auto;
	margin-left: 24px;
	font-family: arial;
	white-space: nowrap;
	color: $textOnDark;
}
