$bcg: rgb(24, 24, 24);
$recBcg: rgb(78, 78, 78);
$workplaceBcg: rgb(88, 88, 88);
$border: rgb(214, 214, 214);
$textOnDark: rgb(230, 230, 230);
$textOnLight: black;
$textOnDarkHighlight: rgb(126, 126, 126);
$slider: gray;
$sliderHandle: black;
$input: rgb(185, 185, 185);
$button: rgb(44, 44, 44);
$buttonHover: rgb(255, 188, 4);
$iconHover: rgb(255, 188, 4);
$icon: rgb(180, 180, 180);
$slider: rgb(92, 92, 92);
$sliderHandle: rgb(58, 58, 58);