$bcg: rgb(24, 24, 24);
$recBcg: rgb(47, 47, 47);
$workplaceBcg: rgb(88, 88, 88);
$border: rgb(214, 214, 214);
$textOnDark: rgb(221, 221, 221);
$textOnLight: black;
$textOnDarkHighlight: rgb(126, 126, 126);
$input: rgb(185, 185, 185);
$button: rgb(51, 51, 51);
$buttonHover: rgb(255, 255, 255);
$buttonBorder: rgb(97, 97, 97);
$iconHover: rgb(255, 255, 255);
$icon: rgb(180, 180, 180);
$slider: rgb(122, 122, 122);
$sliderHandle: rgb(58, 58, 58);
$sliderDark: rgb(70, 70, 70);
$templateItemHover: rgb(92, 92, 92);