@import "colors/";

body{
	margin: 0;
	user-select: none;
}

button{
	background: $button;
	color: $textOnDark;
	border-radius: 8px;
	border: none;

	&:hover{
		background: $buttonHover;
		color: $textOnLight;
		cursor: pointer;
	}
}

input{
	background: $input;
	border: $border;
	font-family: arial;
	color: $textOnLight;
	border-radius: 4px;
}

.slider{
	margin: auto;
	width: 300px;
	height: 12px;
	-webkit-appearance: none;
	appearance: none;
	background-image: linear-gradient(to right, $sliderDark, $slider, $sliderDark);
	border-radius: 10px;
}

.slider::-webkit-slider-thumb {
	width: 20px;
	height: 20px;
	-webkit-appearance: none;
	appearance: none;
	background: $sliderHandle;
	cursor: pointer;
	border: 1px solid $border;
	border-radius: 10px;
}

i{
	text-shadow: 0px 0px 7px rgb(19, 19, 19), 0px 0px 3px rgb(27, 27, 27);
	color: $icon;
	//font-weight: 100;

	&:not(.disabled):hover{
		color: $iconHover;
		cursor: pointer;
  }

  &.disabled {
    color: $buttonDisabled !important;
  }
}
