<div class="background" [class.visible]="visible">
	<div class="box">
    <h3>{{title}}</h3>
		<p>{{message}}</p>
		<span *ngIf="deletion" class="deletion">
			<button (click)="actionNegative()" class="secondary">Zrušit</button>
			<button (click)="actionPositive()" class="destructive">Smazat</button>
		</span>
		<span *ngIf="question" class="question">
			<button (click)="actionNegative()" class="secondary">Ne</button>
			<button (click)="actionPositive()">Ano</button>
		</span>
		<span *ngIf="notification" class="notification">
			<button (click)="actionPositive()">Ok</button>
		</span>
	</div>
</div>
