<div class="content">
  <div class="upper">
      <div class="item">
          <p>Jas</p>
          <input type="range" min="0" max="100" [(ngModel)]="brightness" (ngModelChange)="setBrightness($event)" class="slider">
      </div>
      <div class="item">
          <p>Kontrast</p>
          <input type="range" min="0" max="100" [(ngModel)]="contrast" (ngModelChange)="setContrast($event)" class="slider">
      </div>
      <div class="item">
          <p>Saturace</p>
          <input type="range" min="0" max="100" [(ngModel)]="saturate" (ngModelChange)="setSaturate($event)" class="slider">
      </div>
  </div>
  <div class="lower">
    <div class="item">
      <input type="color" class="color-picker" [(ngModel)]="backgroundColor" (ngModelChange)="setBackground($event)" />
    </div>
  </div>
</div>
