<div class="content">
    <div class="upper">
        <div class="item">
            <p>Jas</p>
            <input type="range" min="0" max="100" value="50" class="slider">
        </div>
        <div class="item">
            <p>Kontrast</p>
            <input type="range" min="0" max="100" value="50" class="slider">
        </div>
        <div class="item">
            <p>Saturace</p>
            <input type="range" min="0" max="100" value="50" class="slider">
        </div>
        <div class="item">
        <p>Úroveň šedi</p>
            <input type="range" min="0" max="100" value="50" class="slider">
        </div>
    </div>  
    <div class="lower"> 
        <div class="item">
            <p>Barva podkladu: </p>
            <input type="color">
        <!--<button>Změnit barvu podkladu</button>-->
        </div>
    </div>
</div>
