@import "../../colors/";

.content{
	padding-top: 24px;
	padding-bottom: 24px;
}

p{
	font-family: arial;
	font-size: 20px;
	padding: 12px 0 12px 32px;
	margin: auto;
	background: $recBcg;
	user-select: none;
	color: $textOnDark;

	&:hover{
		background: $textOnDarkHighlight;
		color: $buttonHover;
		cursor: pointer;
	}
}