<app-template-item name="Volný ořez"></app-template-item>
<app-template-item name="ISIC"></app-template-item>
<app-template-item name="Občanský průkaz"></app-template-item>
<app-template-item name="Pas"></app-template-item>
<app-template-item name="USA vízum"></app-template-item>
<app-template-item name="Zbrojní pas"></app-template-item>
<app-template-item name="Lovecký pas"></app-template-item>
<app-template-item name="Instagram"></app-template-item>
<app-template-item name="Facebook - záhlaví"></app-template-item>
<app-template-item name="Facebook - profilová"></app-template-item>
<p>Přidat šablonu...</p>
